<% include ./partials/header.ejs %>

<div class="container conhecimentos-page">
    <div class="row">
        <div class="col-5">
            <h1><strong>Conhecimentos</strong></h1>
            <p><strong>Formação Acadêmica:</strong></p>
            <ul>
                <li>Graduação em Tecnologia em Sistemas Eletrônicos no Instituto Federal de Educação, Ciência e Tecnologia de São Paulo - IFSP (12/2015)</li>
                <li>Cursando Graduação em Ciência da Computação na Universidade Anhembi Morumbi - UAM (12/2021)</li>
            </ul>
            <p><strong>Linguagens de programação:</strong></p>
            <div class="row">
                <div class="col-6">
                    <li>Javascript</li>
                    <li>Java</li>
                    <li>Assembly</li>
                </div>
                <div class="col-6">
                    <li>C#</li>
                    <li>C</li>
                </div>
            </div>
            <p><strong>Tecnologias Web:</strong></p>
            <div class="row">
                <div class="col-6">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Bootstrap</li>
                </div>
                <div class="col-6">
                    <li>Node.js</li>
                    <li>jQuery</li>
                    <li>APIs REST</li>
                </div>
            </div>
            <p><strong>Versionamento:</strong> Git</p>
            <p><strong>Banco de dados:</strong> MongoDB, SQLite</p>
            <p><strong>Idiomas:</strong></p>
                <ul>
                    <li>Inglês avançado - CNA (01/2007 até 12/2012)</li>
                    <li>Português nativo</li>
                </ul>
            <p><strong>Cursos extras:</strong></p>
            <ul>
                <li>The Web Developer Bootcamp - Udemy 2018 - <a href="https://www.udemy.com/certificate/UC-9X581BVA/">Certificado</a></li>
                <li>C# Basics for Beginners - Udemy 2018 - <a href="https://www.udemy.com/certificate/UC-Z0OOTOKE/">Certificado</a></li>
                <li>C# Intermediate - Udemy 2018 - <a href="https://www.udemy.com/certificate/UC-T91NJH4E/">Certificado</a></li>
                <li>C# Advanced Topics - Udemy 2018 - <a href="https://www.udemy.com/certificate/UC-2KPO3V0O/">Certificado</a></li>
                <li>Complete Java Masterclass - Udemy 2018 - <a href="https://www.udemy.com/certificate/UC-I160P69S/">Certificado</a></li>
                <li>Git Complete - Udemy 2018 - <a href="https://www.udemy.com/certificate/UC-51KAVMRQ/">Certificado</a></li>
            </ul>
        </div>
        <div class="col-7 bottom-item">
            <div class="row">
                <div class="col-6">
                    <img class="img-fluid" src="/img/node.png">
                </div>
                <div class="col-6">
                    <img class="img-fluid" src="/img/git.png">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <img class="img-fluid" src="/img/htmlcssjs.png">
                </div>
                <div class="col-6">
                    <img class="img-fluid" src="/img/java.png">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <img class="img-fluid" src="/img/jquery.png">
                </div>
                <div class="col-6">
                    <img class="img-fluid" src="/img/mongodb.png">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <img class="img-fluid" src="/img/bootstrap.png">
                </div>
                <div class="col-6">
                    <img class="img-fluid" src="/img/csharp.png">
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer.ejs %>