<% include ./partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="typer-class">
                <h1><strong>Conhecimentos</strong></h1>
                <p><strong>Formação Acadêmica:</strong></p>
                <ul>
                    <li>Graduação em Tecnologia em Sistemas Eletrônicos no Instituto Federal de Educação, Ciência e Tecnologia de São Paulo - IFSP (12/2015)</li>
                    <li>Cursando Graduação em Ciência da Computação na Universidade Anhembi Morumbi - UAM (12/2021)</li>
                </ul>
            </div>
            <div class="row typer-class">
                <div class="col-lg-6">
                    <p><strong>Linguagens de programação:</strong> Javascript, Java, C#, C e Assembly</p>
                    <p><strong>Tecnologias Web:</strong> HTML, CSS, Node.js, APIs REST, jQuery e Bootstrap</p>
                    <p><strong>Versionamento:</strong> Git</p>
                    <p><strong>Banco de dados:</strong> MongoDB, SQLite</p>
                </div>
                <div class="col-lg-6">
                    <p><strong>Idiomas:</strong></p>
                    <ul>
                        <li>Inglês avançado - CNA (01/2007 até 12/2012)</li>
                        <li>Português nativo</li>
                    </ul>
                </div>
            </div>
            <div class="typer-class">
                <p><strong>Cursos extras:</strong></p>
                <ul>
                    <li>The Web Developer Bootcamp - Udemy 2018 - <a href="https://www.udemy.com/certificate/UC-9X581BVA/">Certificado</a></li>
                    <li>C# Basics for Beginners - Udemy 2018 - <a href="https://www.udemy.com/certificate/UC-Z0OOTOKE/">Certificado</a></li>
                    <li>C# Intermediate - Udemy 2018 - <a href="https://www.udemy.com/certificate/UC-T91NJH4E/">Certificado</a></li>
                    <li>Complete Java Masterclass - Udemy 2018 - <a href="https://www.udemy.com/certificate/UC-I160P69S/">Certificado</a></li>
                    <li>Git Complete - Udemy 2018 - <a href="https://www.udemy.com/certificate/UC-51KAVMRQ/">Certificado</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-6">
                    <img class="img-fluid" src="/img/node.png">
                </div>
                <div class="col-6">
                    <img class="img-fluid" src="/img/git.png">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <img class="img-fluid" src="/img/htmlcssjs.png">
                </div>
                <div class="col-6">
                    <img class="img-fluid" src="/img/java.png">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <img class="img-fluid" src="/img/jquery.png">
                </div>
                <div class="col-6">
                    <img class="img-fluid" src="/img/mongodb.png">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <img class="img-fluid" src="/img/bootstrap.png">
                </div>
                <div class="col-6">
                    <img class="img-fluid" src="/img/csharp.png">
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer.ejs %>