<% include ./partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-lg-4 boards-row">
            <img class="img-fluid" src="/img/raspi3.png">
            <img class="img-fluid" src="/img/stm32.png">
            <img class="img-fluid" src="/img/pcb.png">
        </div>
        <div class="col-lg-8">
            <div class="exp-title typer-class">
                <h1><strong>Experiência Profissional</strong></h1>
            </div>
            <div class="exp-paragraph typer-class">
                <h4><strong>Estágio em eletrônica - Translux Eletrônica - 9 meses</strong></h4>
                <p>Responsável pela manutenção de componentes eletrônicos, auxílio no desenvolvimento de projetos e montagem de protótipos</p>
                <p>Outubro/2014 até Junho/2015</p>
            </div>
            <div class="exp-paragraph typer-class">
                <h4><strong>Técnico Eletrônico - Translux Eletrônica - mais de 3 anos</strong></h4>
                <p>Responsável pelo desenvolvimento de firmware para microcontroladores, desenvolvimento de sistemas embarcados e elaboração de layout para placas de circuito impresso</p>
                <p>Julho/2015 até o momento</p>
            </div>
        </div>
    </div>
    
</div>

<% include ./partials/footer.ejs %>