<% include ./partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 home-description effect-fadein">
            <h1><strong>Vinícius de Jesus Smadeski</strong></h1>
            <p>24 anos, solteiro, brasileiro</p>
            <p>Jardim Germânia - São Paulo - SP</p>
            <p>vsmadeski.dev@gmail.com</p>
            
        </div>
        <div class="col-4 home-professional effect-fadein">
            <h5><strong>Objetivo:</strong></h5>
            <p>Ingressar na área da Tecnologia da Informação como desenvolvedor web</p>
            <h5><strong>Formação Acadêmica:</strong></h5>
            <ul>
                <li>Tecnólogo em Sistemas Eletrônicos - IFSP - (12/2015)</li>
                <li>Cursando Bacharelado em Ciência da Computação - 2º Semestre - Anhembi Morumbi - (12/2021)</li>
            </ul>
            <h5><strong>Experiência Profissional:</strong></h5>
            <ul>
                <li>Estágio em eletrônica - Translux Eletrônica - Outubro/2014 até Junho/2015 - 9 meses</li>
                <li>Técnico Eletrônico - Translux Eletrônica - Julho/2015 até o momento - mais de 3 anos</li>
            </ul>
        </div>
        <div class="col-4 home-conhecimentos effect-fadein">
            <h5><strong>Tecnologias e linguagens:</strong></h5>
            <ul>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <li>Javascript</li>
                        <li>Java</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>C#</li>
                        <li>C</li>
                        <li>Assembly</li>
                    </div>
                    <div class="col-12 col-md-6">
                        <li>Node.js</li>
                        <li>jQuery</li>
                        <li>Bootstrap</li>
                        <li>MongoDB</li>
                        <li>SQLite</li>
                        <li>Git</li>
                        <li>APIs REST</li>
                    </div>
                </div>
            </ul>
            <h5><strong>Cursos:</strong></h5>
            <ul>
                <li><a href="https://www.udemy.com/the-web-developer-bootcamp/">The Web Developer Bootcamp</a></li>
                <li><a href="https://www.udemy.com/java-the-complete-java-developer-course/">Complete Java Masterclass</a></li>
                <li><a href="https://www.udemy.com/csharp-tutorial-for-beginners/">C# Basics for Beginners</a></li>
                <li><a href="https://www.udemy.com/csharp-intermediate-classes-interfaces-and-oop/">C# Intermediate</a></li>
                <li><a href="https://www.udemy.com/csharp-advanced/">C# Advanced Topics</a></li>
                <li><a href="https://www.udemy.com/git-complete/">Git Complete</a></li>
            </ul>
            <h5><strong>Idiomas:</strong></h5>
            <ul class="bottom-item">
                <li>Português nativo</li>
                <li>Inglês avançado</li>
            </ul>
        </div>
    </div>
</div>

<% include ./partials/footer.ejs %>